@import "tailwindcss";

/* Agar aapke custom colors ya themes hain, to v4 me unhe @theme rule ke andar aise likhte hain: */
@theme {
  --color-bg: #FBF9F4;
  --color-primary: #0A3A2F;
  --color-primary-hover: #072921;
  --color-secondary: #D97706;
}